@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

body, html {
	height: 100%;
}

body {
	background-color: #7DC3AE;
	font-family: 'Roboto', sans-serif;
	color: #414141;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

ul {
	list-style-type: none;
}

.game-title {
	text-align: center;
}

.game-title h1 {
	color: #FFFFFF;
	text-transform: uppercase;
	display: inline-block;
}

.game-title small {
	opacity: 0.4;
}

.pig {
	color: #C38D9E;
}

#mainMenu ul li:hover {
	text-decoration: underline;
}

#inGame .score {
	color: #E27D60;
}

#inGame .player-name {
	text-transform: uppercase;
}

#inGame .current-roll {
	padding: 10px;
	width: 150px;
	margin: auto;
}

.btn-pink {
	background-color: #C38D9E;
	color: #FFFFFF;
}

.btn-pink:hover {
	background-color: #AD808D;
	color: #FFFFFF;
}

.btn-orange {
	background-color: #E27D60;
	color: #FFFFFF;
}

.btn-orange:hover {
	background-color: #C96D54;
	color: #FFFFFF;
}